.container {
    margin: 10px auto;
    border: 1px solid #c3c3c3;
    position: relative;
    border-radius: 10px;
}

.isPending {
    position: relative;
}

.isPending::after {
    height: 0;
    width: 0;
    padding: 15px;
    border: 6px solid #c3c3c3;
    border-right-color: #3B90E3;
    border-radius: 22px;
    -webkit-animation: rotate 1s infinite linear;
    /* left, top and position just for the demo! */
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';
}

@-webkit-keyframes rotate {
    /* 100% keyframe for  clockwise. 
       use 0% instead for anticlockwise */
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
